@media screen and (min-width:320px){
    html{font-size:21.333333333333332px;}
    body{font-size:12px;}
}
@media screen and (min-width:360px){
    html{font-size:24px;}
    body{font-size:12px;}
}
@media screen and (min-width:375px){
    html{font-size:25px;}
    body{font-size:12px;}
}
@media screen and (min-width:384px){
    html{font-size:25.6px;}
    body{font-size:14px;}
}
@media screen and (min-width:400px){
    html{font-size:26.666666666666668px;}
    body{font-size:14px;}
}
@media screen and (min-width:414px){
    html{font-size:27.6px;}
    body{font-size:14px;}
}
@media screen and (min-width:424px){
    html{font-size:28.266666666666667px;}
    body{font-size:14px;}
}
@media screen and (min-width:480px){
    html{font-size:32px;}
    body{font-size:15.36px;}
}
@media screen and (min-width:540px){
    html{font-size:36px;}
    body{font-size:17.28px;}
}
@media screen and (min-width:720px){
    html{font-size:48px;}
    body{font-size:23.04px;}
}
@media screen and (min-width:750px){
    html{font-size:50px;}
    body{font-size:24px;}
}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.all{
    width: 100%;;
    height: 100%;
    color: white;
    font-size: 18px;

    background-image: url(./background.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all .jieshao{
    position: absolute;
    width: 100%;
    left: 0;
    top:25vh;
    text-align: center;
    font-size: 16px;
}
.all .erweima{
    position:absolute;
    top: 40vh;
    left: 41.2vw;;
    width: 17.6vw;
    height: 17.6vw;
}
.all .butt{
  position: absolute;
  top:61.2vh;
  width:72.3vw;
  left:13.87vw;
  height: 7.6vh;
  background-color: white; 
  border-radius: 3.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .all .center{
      width: 70.8vw;
      height:6.82vh;
      display: flex;
      color: black;
      align-items: center;
      justify-content: center;
      border-radius: 3.41vh;
      border: 1px solid lightgrey;
  }
  .center div{
      display: inline-block;
      width: 100% ;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .center img{
      width: 4.53vw;
      height: 4.53vw;
  }
  .center span{
      letter-spacing:2vw;
      padding-left: 2vw;
  }
.all .foot{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top:94.1vh;
    font-size: 15px;

}
.guang{
    box-shadow: 1 1 5px blue;
}
